# Build artifacts
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio files
.vs/
.vscode/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Coverage
*.coverage
*.coveragexml

# Logs
*.log
logs/

# Others
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Azure Functions artifacts
bin
obj

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json

# OS files
.DS_Store
Thumbs.db